

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#total {
    margin: 10px 0px;
    min-width: 1000px;
    max-width: 1000px;
    border: 1px solid blue;
}



#header, #page, #foot{
    margin: 10px;
}
#foot {
    padding: 0px 20px;
}
#header {
    padding: 30px;
    background-image: url('/img/teenieping_head.png');
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 175.2px;
    max-height: 175.2px;
    width: 918px;
}
#page {
    display: flex;
    flex-direction: row;
    /*padding-bottom: 20px;*/
    min-height: 500px;
}
#menu{
    width: 270px;
    min-height: 550px;
}
#bar{
    width: 50px;
    min-height: 550px;
}
#bar>span, #menu>span{
    cursor: pointer;
    font-family: monospace;
    font-weight: bolder;
    font-size: 20px;
    color: white;
    display: inline-block;
    margin: 3px;
}
#profile{
    margin: 10px;
}
#menu>ul{
    list-style-type: none;
    padding-left: 10px;
}
#menu>ul>li{
    margin: 15px 0px;
}
a{
    text-decoration: none;
    color: black;
}

article{
    padding: 20px 30px;
}
button:hover{
    cursor: pointer;
}

#foot > ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#foot > ul > li > a:hover {
    color: pink;
}
